![Testing](Animals/estaban.png)

# Oppgave 1
Hva skrives ut?
What is printed in the terminal window when the following code is run?

In [1]:
# a = 7
a = 7
# b = a = 7
b = a
# a = a + b = 7 + 7 = 14
a = a + b
# 14, 7
print(a, b)

14 7

# Oppgave 2
Hva skrives ut?
What is printed when this code is run?

In [2]:
# r = int
r = 1
# t = float
t = 2.0
# A = int * float = float
A = r * t
# int, float
print(type(r), type(A))

<class 'int'> <class 'float'>

# Oppgave 3
Hva skrives ut?
What is printed when this code is run?

In [3]:
s = 0
for n in range(2, 10, 4):
    s += n
print(s)
"""
s = 0

n: 2
s = 0 + 2 = 2
n: 2+4 = 6
s = 2 + 6 = 8
n: 10
----

s = 8
"""

8

'\ns = 0\n\nn: 2\ns = 0 + 2 = 2\nn: 2+4 = 6\ns = 2 + 6 = 8\nn: 10\n----\n\ns = 8\n'

# Oppgave 4
Hva skrives ut?
What is printed in the terminal window when the following code is run?

In [4]:
numbers = [10, 25, 50, 40, 70]
result = []
for num in numbers:
    if num < 20:
        result.append("Small")
    elif num < 50:
        result.append("Medium")
    else:
        result.append("Large")
    
print(result)

['Small', 'Medium', 'Large', 'Medium', 'Large']

# Oppgave 5
Hva skrives ut?
What is printed in the terminal window when this code is run?

In [5]:
C = -20
dC = 5
Clist = []
Flist = []
while C <= 40:
    Clist.append(C)
    Flist.append(2 * C + 30)
    C = C + dC
    
"""
C = -20
dC = 5

-20 <= 40
Clist = [-20]
Flist = [-10]
C = -15

-15 <= 40
Clist = [-20, -15]
Flist = [-10, 0]
C = -10

-10 <= 40
Clist = [-20, -15, -10]
Flist = [-10, 0, 10]
C = -5

-5 <= 40
Clist = [-20, -15, -10, -5]
Flist = [-10, 0, 10, 20,]
C = 0

.
.
.
C = 40
Clist[-1] = 40
Flist[-1] = 2 * C + 30 = 110


"""
print(Clist[-1], Flist[-1])

40 110

# Oppgave 6 
Hva skrives ut?
What is printed in the terminal window when the following code is run?

In [6]:
first_names = ['Minch', 'Han', 'Luke']
last_names = ['Yoda', 'Solo', 'Skywalker']

names = [last + first for first, last in zip(first_names, last_names)]
print(names[-1])

names = []
for i in zip(first_names, last_names):
    # names.append(last + first)
    print(i)

SkywalkerLuke
('Minch', 'Yoda')
('Han', 'Solo')
('Luke', 'Skywalker')

# Oppgave 7
Hva skrives ut?
What is printed when this code is run?

In [7]:
for i in range(2, 5):
    print(i, end = ' ')
    for j in range(i - 1):
        print(j, end = ' ')

# 20 301 4012
"""
i: 2
2
    j: 0 -> 2-1 = 1
    0
i: 3
3 
    j: 0 -> 3-1 = 2
    0
    1
.
.


"""

2 0 3 0 1 4 0 1 2

'\ni: 2\n2\n    j: 0 -> 2-1 = 1\n    0\ni: 3\n3 \n    j: 0 -> 3-1 = 2\n    0\n    1\n.\n.\n\n\n'

The argument end = ' ' to the print function makes each print end with space (' ') instead of a new
line

# Oppgave 8
Gadd ikke mer å kopi paste

In [8]:
print(True and (False or True))  # True
print(not True or False) # False or False = False
print(False or 4 > 3) # True
print(True and (False and True)) # False

True
False
True
False

# Oppgave 9

In [9]:
hello = "All work and no play makes Jack a dull boy"
words = hello.split()
# words = ['All', 'work', 'and', 'no', 'play', 'makes', 'Jack', 'a', 'dull', 'boy']
print(type(words), len(words), words[-2])

<class 'list'> 10 dull

# Oppgave 10

In [10]:
kort = [1, 0, -1]
lang = [1, 2, 3, 4, 5]
liste = [1, 2, [1], [2], [[1]], [[2]]]

print(liste[-2]) #
print(liste[kort[1]])
print(liste[kort[2] * lang[2]])
print(liste[lang[kort[0]]])

print("\n", [[1]])
print([1])
a = [[1]]
print(a[0])
print(a[0][0])

[[1]]
1
[2]
[1]

 [[1]]
[1]
[1]
1

# Oppgave 11

In [11]:
import numpy as np

dx = 0.02
x = [i * dx for i in range(51)]
y = np.linspace(0, 1, 51)

print(x[-1] <= 0.5) # False
print(x[50] > 2 * y[50]) # False
print(len(y) == len(x)) # True
print(len(x) == 100)

False
False
True
False

# Oppgave 12
- A function can only have one return statement.
- Adding two NumPy arrays of length n will give an array of length 2n.
- Adding two lists of length n will result in a list of length n.
- Adding two NumPy arrays of length n will give an array of length n.

# Oppgave 13

In [12]:
import numpy as np

def sphere(r):
    return 4 / 3 * np.pi * r**3

def test_sphere():
    r = 1.0
    tol = 1e-8
    # 4/3 * pi * 1**3 = 4/3 * pi
    success = abs(sphere(r) - 4 / 3 * np.pi) < tol
    msg = 'Something wrong in volume'
    assert success, msg
    
test_sphere()

# Oppgave 14
What does this function do? You can assume that the argument arg is a list of strings, for
instance ['Norway', 'USA', 'Denmark'].

In [13]:
def f(arg):
    m = len(arg[0])
    for e in arg[1:]:
        if len(e) > m:
            m = len(e)  
    return m

lst = ['Norway', 'USA', 'Denmark']
print(f(lst))
"""
m = 6
e = USA:
3 > 6: False

e = Denmark:
7 > 6: True
m = 7

return m = 7
"""

7

'\nm = 6\ne = USA:\n3 > 6: False\n\ne = Denmark:\n7 > 6: True\nm = 7\n\nreturn m = 7\n'

# Oppgave 15

In [14]:

# Riktig
def myfun1(x, y, z = 2):
    return x + y + z
result = myfun1(2, 3)

# Kan ikke ha en verdi uten default verdi etter en med default verdi
def myfun2(x, y = 3, z):
    return x + y + z
result = myfun2(2,3)

# Fungerer
def myfun3(x, y = 3, z = 2):
    return x + y + z
result = myfun3(x = 2, z = 1, y = 0.5)

# Må ha argumenter uten variabel definisjon først, og dermed kan man ha y=2
def myfun4(x, y, z):
    return x + y + z
result = myfun4(1, y = 2, 1)

SyntaxError: non-default argument follows default argument (1805624389.py, line 7)

# Oppgave 16

In [ ]:
import sys
A = [['-1','0','1'],['0','0','0'],['10','9','8']]
try:
    b = int(A[2][-1])
    # b = int("8")
except IndexError:
    print(f'A has length {len(A):d}')
    sys.exit(1)
except TypeError:
    print(f'Cannot convert {A[2]} to int')
    sys.exit(1)
    
print(b)

8

# Oppgave 17
```txt
Saturday 21 September 2024 1 USD = 10.484 NOK
Friday 20 September 2024 1 USD = 10.486 NOK
Thursday 19 September 2024 1 USD = 10.499 NOK
Wednesday 18 September 2024 1 USD = 10.584 NOK
Tuesday 17 September 2024 1 USD = 10.605 NOK
Monday 16 September 2024 1 USD = 10.596 NOK
Sunday 15 September 2024 1 USD = 10.645 NOK
```
We want the code below to read such a file and create two lists, one containing the dates as
tuples and one containing the corresponding exchange rates. One line is missing in the code.

In [ ]:
dates = []
rates = []
with open('USD.txt') as infile:
    for line in infile:
        words = line.split()
        # word = ["Saturday", "21", "September", "2024", "1, "USD", "=", "10.484", "NOK"]
        dates.append((int(words[1]), words[2], int(words[3])))
        rates.append(float(words[-2]))
        # rates.append(float(line[-1]))
        # rates = rates + float(words[-1])
        # rates.append(float(words[-1]))

# Oppgave 18

In [ ]:
def odd_sum(n):
    # s = list(range(0, n+1, 2)
    # s = list(range(1, n+1)
    # s = list(range(n+1, 2)
    s = list(range(1, n+1, 2))
    return sum(s)

def test_odd_sum():
    expected = 1 + 3 + 5
    computed = odd_sum(5)
    msg = f'expected {expected}, got {computed}'
    assert expected == computed, msg

# Oppgave 19
$$
x^2-2=0
$$

In [ ]:
def Newton(f, df, x, tol = 1e-7):
    while abs(f(x)) > tol:
        x = x - f(x)/df(x)
    return x, f(x)

def f(x):
    return x**2-2
# x0, f = Newton(f(x) = x**2-2, df(x) = 2*x, 2.0)
x0, f = Newton(lambda x: x**2-2, lambda x: 2*x, 2.0)
# x0, f = Newton(f = x**2-2, df = 2*x, 2.0)
# x0, f = Newton(x**2-2, 2*x, 2.0, 1e-4)

# Oppgave 20

In [ ]:
def freq_lists(dna_list):
    n = len(dna_list[0])
    A = [0]*n
    T = [0]*n
    G = [0]*n
    C = [0]*n
    for dna in dna_list:
        index = 0
        for base in dna:
            if base == 'A':
                A[index] += 1
            elif base == 'C':
                C[index] += 1
            elif base == 'G':
                G[index] += 1
            elif base == 'T':
                T[index] += 1
            index += 1
    return A, C, G, T

dna_list = ['TCGCT', 'GGACT', 'GCTGC']

A, C, G, T = freq_lists(dna_list)
print(G)